.dashboard {
  position: relative;
  padding: 30px;
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 780px) {
  .uploadContainer form {
    flex-direction: column;
  }
  .uploadContainer form button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-dark);
  }
  .buttonWrapper::before {
    content: "Upload";
  }
}
