.dashboard {
  padding: 30px;
  width: 80%;
  margin: auto;
}
.uploadContainer form {
  width: 100%;
  background: var(--gradient);
  padding: 8px;
  position: relative;
  margin-bottom: -1px;
  z-index: 1;
}
.uploadContainer form button {
  padding: 4px;
  border: 0.7px solid var(--color-dark);
  cursor: pointer;
}
.uploadIcon {
  width: 40px;
  height: 40px;
}
.uploadInput {
  border: 1px solid var(--color-white);
  padding: 10px 20px;
}

.results {
  width: 90vw;
  height: 540px;
  overflow-y: scroll;
  border: 1px solid var(--color-white);
}
.results::-webkit-scrollbar {
  width: 2px;
}
.results::-webkit-scrollbar-track {
  background-color: var(--color-white);
}
.results::-webkit-scrollbar-thumb {
  background-color: var(--color-highlight);
}
.resultInputButton {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-white);
}
.userInput {
  width: 70%;
  padding: 10px 0 10px 0;
  outline: none;
}
.askButton {
  width: max-content;
  background: var(--color-dark1);
  padding: 10px 20px;
  font-size: 16px;
}
@media screen and (max-width: 780px) {
  .uploadContainer form {
    flex-direction: column;
  }
  .uploadContainer form button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-dark);
  }
  .buttonWrapper::before {
    content: "Upload";
  }
}
