.aboutContainer {
  margin-top: 20px;
  width: 80%;
  margin: auto;
  background: var(--gradient);
  padding: 20px;
}
.aboutContainer h3 {
  padding: 10px 0;
}
.aboutContainer p {
  font-size: 16px;
  letter-spacing: 1px;
  font-family: cursive;
}
.aboutHeader,
.aboutMission,
.whatWeDo,
.ourVision {
  padding: 20px;
}
.aboutBorder {
  border-bottom: 1px solid var(--color-dark);
}
.aboutHeader h1 {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .aboutContainer {
    width: 90%;
    border-radius: 10px;
  }
}
